/* .listContainer a {
  text-decoration: none;
  color: inherit;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  font-size: 20px;
  border: 1px solid gainsboro;
}

.listItem:last-child {
  border-top: 0;
} */

/* .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: #7fb77e;
} */
