.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  height: 100vh;
}

.loginPage .title {
  width: 360px;
  font-weight: 300;
}

.loginPage .form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.loginPage .form .formField {
  margin-bottom: 16px;
}

.loginPage .form label {
  display: block;
  padding-bottom: 6px;
  font-size: 13px;
}
.loginPage .form input {
  padding: 10px 12px;
  width: 100%;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}

.loginPage .form .actions {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.loginPage .form .actions button {
  padding: 10px 12px;
  width: 100%;
  font-size: 16px;
  color: white;
  /* background-color: rgb(76, 115, 255); */
  background-color: #277bc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.loginPage .form .actions button:hover {
  opacity: 0.8;
}
