.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 32px;
  height: 64px;
  border: 1px solid rgb(223, 223, 223);
}

.header .iconBack {
  position: absolute;
  top: 12px;
  left: 32px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #41efcd;
  border: 1px solid #41efcd;
  border-radius: 5px;
  cursor: pointer;
}

.header .logout {
  margin-left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  color: #41efcd;
  border: 1px solid #41efcd;
  border-radius: 5px;
  cursor: pointer;
}
.header .iconBack:hover,
.header .logout:hover {
  color: black;
}
