.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  height: 56px;
  font-size: 20px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.listItem.category {
  position: relative;
  padding: 16px 32px;
}
.listItem .categoryDetails {
  display: flex;
  align-items: center;
}
.listItem .categoryDetails .categoryAmount {
  font-size: 16px;
  color: #eec22f;
}

.red {
  color: #ff7777;
}

.orange {
  color: #eec22f;
}

:root {
  --toastify-color-success: #41efcd;
  --toastify-text-color-success: #000;
  --toastify-icon-color-success: #000;

  --toastify-color-error: #ff7777;
  --toastify-text-color-error: #000;
  --toastify-icon-color-error: #000;
}
