.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: #7FB77E;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  font-size: 20px;
  border: 1px solid gainsboro;
}

.red {
  color: #E64848;
}

.green {
  color: #7FB77E;
}

.listItem:last-child {
  border-top: 0;
}
